/*----------------
    media info
----------------*/

#mpris {
	padding: 0 12px;
}

/*---------
    tray
---------*/

#tray {
	padding: 0 14px;
}

/*------------
    volume
------------*/

#custom-left_div.6 {
	color: @volume;
}
#pulseaudio,
#wireplumber {
	background-color: @volume;
}

/*---------------------
    notification center
---------------------*/

#custom-swaync {
	background-color: @backlight;
	padding: 0 14px;
}
/* light up + emphasize the bell when notifications are pending */
#custom-swaync.notification,
#custom-swaync.dnd-notification,
#custom-swaync.inhibited-notification,
#custom-swaync.dnd-inhibited-notification {
	color: @red;
	font-weight: bold;
}

/*----------------
    brightness
----------------*/

#custom-left_div.7 {
	background-color: @volume;
	color: @backlight;
}
#backlight {
	background-color: @backlight;
}

/*-------------
    battery
-------------*/

#custom-left_div.8 {
	background-color: @backlight;
	color: @battery;
}
#battery {
	background-color: @battery;
}
#custom-left_inv.2 {
	color: @battery;
}

/*----------------
    power menu
----------------*/

#custom-power_menu {
	border-radius: 16px;
	padding: 0 19px 0 16px;
	color: @accent;
}
#custom-power_menu:hover {
	background-color: @hover-bg;
}
